<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TGramHunt.AdminPanel</title>
    <link rel="stylesheet" href="~/dist/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" href="/Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/Users">Users</a>
                        </li>
                        @if (this.User.IsInRole(TGramHunt.Helpers.Constants.Admin) || this.User.IsInRole(TGramHunt.Helpers.Constants.Superadmin))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" href="/Moderators">Moderators</a>
                            </li>
                        }
                        @if (this.User.IsInRole(TGramHunt.Helpers.Constants.Superadmin))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" href="/Admins">Admins</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (this.User.IsInRole(TGramHunt.Helpers.Constants.Admin) || this.User.IsInRole(TGramHunt.Helpers.Constants.Superadmin))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" href="/CreateUser">Create User</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="navbar-brand" href="/Profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/dist/scripts.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
